* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  color: white;
  background-color: black;
  font-size: 20px;
}
body {
  padding: 0px 40px;
}
h2 {
  text-align: center;
  color: rgba(248, 232, 96, 0.63);
  font-size: 35px;
  padding-top: 55px;
  font-weight: bolder;
}
/*---- nav-bar----*/
#header {
  padding: 10px 20px;
  align-items: center;
  height: 40px;
  display: flex;
  flex-direction: columns-reverse;
  position: fixed;
  width: 100%;
}
#hamburger {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.fa-solid {
  visibility: hidden;
}
#header h1 {
  padding-bottom: 5px;
  font-size: 40px;
}
#header span {
  font-size: 40px;
}
#navMenu {
  display: flex;
  margin-left: 63vw;
}
#navBar {
  display: flex;
}
#navMenu li {
  margin-right: 10px;
  box-sizing: border-box;
  padding: 5px;
}
#navMenu .btn {
  height: 30px;
  width: auto;
  text-align: center;
  padding: 5px 10px;
  background-color: rgba(248, 232, 96, 0.63);
  border-radius: 10px;
}
/*------end of nav-bar--------*/

.cards {
  justify-content: center;
  border: 1px solid rgba(248, 232, 96, 0.63);
  width: 350px;
  margin: 10px;
  border-radius: 30px;
  padding: 20px;
  padding: 50px;
}
#singleArticleCard {
  justify-content: space-between;
  width: 600px;
}
#singleArticleCard h3 {
  margin-bottom: 20px;
}
#reactionSection {
  padding: 10px 0px 5px;
  border: 1px solid rgba(248, 232, 96, 0.63);
}
/*------ home section----*/
#home {
  height: 55vh;
  flex-wrap: wrap;
  display: flex;
  padding: 50px 0px;
  margin-bottom: 100px;
}
.profile {
  width: 30%;
}
#home img {
  width: 100%;
  height: 520px;
}
#home h2 {
  text-align: left;
  font-size: 3rem;
}
#home h1 {
  text-align: left;
  font-size: 3.2rem;
  margin-bottom: 10px;
}
#home p {
  text-align: justify;
}
span {
  color: rgba(248, 232, 96, 0.63);
}
.textContents {
  width: 60%;
  padding-top: 90px;
  margin-left: 20px;
}

#homeBtns {
  padding: 40px;
}
#homeBtns .btn {
  padding: 1rem 3rem;
  border-radius: 30px;
  font-size: 1rem;
  margin: 0px 20px;
}
/*-----end of home section-----*/
/*------ about me-----*/
#about_Me {
  width: 100%;
  margin-bottom: 100px;
  height: auto;
}
.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
}
.cards li {
  margin-bottom: 10px;
}

#blogsOthers {
  width: 25%;
}

/*skills*/

#skills {
  width: 100%;
  margin-bottom: 100px;
  height: auto;
}
.skillCards {
  /* background-image: url(./images/profile.jpg);
  background-position: center;
  background-image: url(./images/profile.jpg);
  background-position: center; */
  background-size: cover;
  align-content: center;
  justify-items: center;

  border: 1px solid rgba(248, 232, 96, 0.63);
  width: 420px;
  margin: 50px;
  border-radius: 30px;
  padding: 20px;
  height: auto;
  justify-content: center;
}
.skillCards li {
  list-style-type: disc;
  background-color: transparent;
  margin-bottom: 10px;
  /* color: rgba(248, 232, 96, 0.63); */
}
#portifolio {
  width: 100%;
  margin-bottom: 100px;
  height: auto;
}
#blogs {
  width: 100%;
  margin-bottom: 100px;
  height: auto;
  justify-content: space-between;
}
#blogs li {
  list-style-type: disc;
  margin-left: 20px;
}
#blogs img {
  width: 100%;
  padding: 10px 10px 10px 0px;
}
#ContactsDiv {
  width: 43%;
  background-color: transparent;
}
#ContactsDiv ul {
  background-color: transparent;
}
#ContactsDiv li {
  background-color: transparent;
  font-size: 20px;
  font-weight: bold;
}

.btn {
  width: auto;
  text-align: center;
  padding: 3px;
  font-weight: 700;
  background-color: rgba(248, 232, 96, 0.63);
  border-radius: 10px;
}
input {
  margin-bottom: 20px;
  height: 40px;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px;
}

#contactMeForm {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: transparent;
  height: 400px;
  width: 600px;
}
/* #contactMeForm button {
  width: fit-content;
  padding: 5px;
  margin-left: 40%;
} */
textarea {
  margin-bottom: 20px;
  color: black;
  width: auto;
  height: auto;
  font-size: 20px;
  padding: 20px;
  border-radius: 10px;
}

#loginForm {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: transparent;
  width: 350px;
  height: 320px;
  align-items: left;
}
#loginForm h2 {
  text-align: center;
  margin: -10px 0px 30px;
  font-size: 25px;
}
#loginForm p {
  padding-top: 10px;
  background-color: transparent;
}
#loginForm input {
  color: black;
  width: auto;
  padding: 10px;
}
#loginForm button {
  width: 80px;
  /* margin-left: -100px; */
}
#loginForm label {
  background-color: transparent;
  margin-bottom: 5px;
}
#labPass {
  /* margin-left: -130px; */
}
#labUser {
  /* margin-left: -80px; */
}
.error {
  color: red;
  background-color: transparent;
  margin-top: -20px;
  margin-bottom: 20px;
}

#contact_me {
  width: 100%;
  height: auto;
  background-image: url(./images/black-stone-texture-dark-slate-background-top-view_88281-1206.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

  flex-wrap: wrap;
}
a {
  background-color: transparent;
  text-decoration: none;
}
#textContents ul {
  background-color: transparent;
}
#textContents li {
  background-color: transparent;
}
#contact_me div {
  background-color: transparent;
}
#contact_me h2 {
  background-color: transparent;
  color: rgba(248, 232, 96, 0.63);
  margin-bottom: 30px;
}
#forImg img {
  width: 100%;
  height: 10%;
}
#contact_me input {
  background-color: white;
}
#contact_me textarea {
  background-color: rgb(255, 255, 255);
  color: grey;
}
#contact_me h3 {
  background-color: transparent;
  color: rgba(248, 232, 96, 0.63);
  margin-bottom: 30px;
  font-size: 20px;
}
#mycontacts {
  margin-left: 45%;
  margin-top: 18%;
}
#mycontacts li {
  font-size: 30px;
  padding: 10px;
}
#mycontacts i {
  background-color: transparent;
  padding: 20px;
}
#portifolio img {
  width: 100%;
}
/* 0787146171 */
/* 0788551680 */

.underline {
  width: 290px;
  height: 1px;
  background-color: rgba(248, 232, 96, 0.63);
  margin: 10px 0 20px;
}
footer {
  margin: 0;
  padding: 0;
  height: 70px;
  background-color: rgba(248, 232, 96, 0.63);
  text-align: center;
}
footer h2 {
  background-color: transparent;
  color: black;
  font-weight: bold;
  text-align: center;
  padding-top: 18px;
}
@media (max-width: 425px) {
  * {
    font-size: 15px;
  }
  #header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: black;
    width: 75%;
    height: fit-content;
  }
  header h1 {
    margin-left: 0px;
    font-size: 15px;
  }
  #header h1 {
    font-size: 25px;
  }
  #header span {
    font-size: 25px;
  }

  header i {
    position: absolute;
    top: 0;
    right: 0;
  }

  #navMenu {
    display: none;
    flex-direction: column;
    border: 1px solid rgba(248, 232, 96, 0.63);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    width: 100px;
    position: absolute;
    top: 25px;
    left: -30px;
  }
  #navMenu li {
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(248, 232, 96, 0.63);
    border-radius: 5px;
    padding: 2px;
    text-align: center;
    color: rgba(104, 248, 96, 0.63);
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
  }

  #home {
    background-image: url(./images/homeimg.jpg);
    background-position: center;
    background-size: cover;
    max-width: 100%;
    height: 220px;
    padding-top: 150px;
    margin-bottom: unset;
  }

  .profile {
    display: none;
  }
  .profile img {
    width: 100%;
  }
  #home span {
    background-color: transparent;
  }
  #homeBtns {
    background-color: transparent;
  }
  #home h2 {
    font-size: 1rem;
    background-color: transparent;
  }
  #home h1 {
    font-size: 1.5rem;
    background-color: transparent;
  }
  #home p {
    text-align: justify;
    background-color: transparent;
    font-weight: bold;
  }

  .textContents {
    background-color: transparent;
    width: 100%;
    margin-top: -150px;
    min-height: 200px;
    min-width: 200px;
    flex-wrap: nowrap;
  }
  .textContents p {
    width: 90%;
  }
  #homeBtns {
    padding: 10px;
    z-index: 1;
  }
  #homeBtns .btn {
    padding: 0.5rem 0.5rem;
    border-radius: 30px;
    font-size: 1rem;
    margin: 0px 0px;
  }
  .cards {
    border: 1px solid yellow;
    width: 100%;
    margin: 10px;
    border-radius: 30px;
    padding: 20px;
    height: auto;
    text-align: left;
  }
  #skills {
    margin-bottom: unset;
    width: 120%;
    margin-left: -25px;
  }
  #portifolio {
    margin-bottom: unset;
    width: 120%;
    margin-left: -25px;
  }
  #about_Me {
    margin-bottom: unset;
    width: 120%;
    margin-left: -25px;
  }
  #blogs {
    margin-bottom: unset;
    width: 120%;
    margin-left: -25px;
  }
  #blogsOthers {
    width: 100%;
  }
  .skillCards {
    height: auto;
    margin: 10px;
    padding-top: 20px;
  }
  input {
    height: 20px;
    font-size: 15px;
  }

  #loginForm {
    margin-left: 50px;
    width: 60%;
  }
  #ContactsDiv {
    width: 100%;
    background-color: transparent;
  }
  #mycontacts {
    margin-left: unset;
  }
  #mycontacts li {
    font-size: 20px;
  }
  #mycontacts i {
    padding: 10px;
    background-color: transparent;
  }
  #contactMeForm {
    width: 60%;
    margin-left: 50px;
    padding-top: -20px;
    height: auto;
  }
  #contactMeForm h2 {
    padding-top: 2px;
  }
  .underline {
    width: 100%;
    height: 1px;
    background-color: rgba(248, 232, 96, 0.63);
    margin: 10px 0 20px;
  }
  textarea {
    height: 80px;
    background-color: aqua;
  }
  #hamburger {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-between;
    margin-top: -5px;
    padding-bottom: unset;
    margin-left: unset;
    width: 100%;
    background-color: transparent;
    height: 20px;
  }
  #hamburger h1 {
    background-color: transparent;
  }
  .fa-solid {
    visibility: visible;

    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-right: -10px;
    /* margin-right: 90px; */

    /* margin-left: 230px; */
  }
  footer {
    border: 1px solid;
    width: 100%;
    height: 20px;

    padding: 5px;
  }
  footer h2 {
    font-size: 10px;
    text-align: center;
    margin: unset;
    margin-top: -4%;
  }
}
